resource_group_name = "rg-fastapi-starter"
location            = "westus"
environment         = "dev"
app_name            = "fastapi-starter"

storage_account_tier     = "Standard"
storage_replication_type = "LRS"
